@page "/"

<PageTitle>Home</PageTitle>

<div style="text-align: center; margin-top: 2rem;">
    <h1>¡HOLA, BIENVENIDO!</h1>
    <h2 style="color: #4CAF50;">MY-STORE</h2>
    <p></p>
    <br />

    <div style="margin-top: 2rem; text-align: left; display: inline-block;">
        <p>¿Qué puedes hacer en este sistema?</p>
        <ol>
            <li>Registrar proveedores</li>
            <li>Agregar productos</li>
            <li>Registrar entradas de inventario</li>
            <li>Editar proveedores</li>
            <li>Editar productos</li>
            <li>Editar entradas de inventario</li>
            <li>Eliminar proveedores</li>
            <li>Eliminar productos</li>
            <li>Eliminar entradas de inventario</li>
        </ol>
    </div>
</div>

