<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">SistemaTienda</a>
    </div>
</div>

<input type="checkbox" title="Navigation menu" class="navbar-toggler" />

<div class="nav-scrollable" onclick="document.querySelector('.navbar-toggler').click()">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span> Inicio
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="proveedores">
                <span class="bi bi-truck" aria-hidden="true"></span> Proveedores
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="productos">
                <span class="bi bi-box-seam" aria-hidden="true"></span> Productos
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="entradas">
                <span class="bi bi-arrow-down-circle" aria-hidden="true"></span> Entradas
            </NavLink>
        </div>
    </nav>
</div>
